#stone {
	display: grid;
	grid-template-columns: repeat(340, minmax(5px, auto));
	grid-template-rows: repeat(15, minmax(0, 50px));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#bronze {
	display: grid;
	grid-template-columns: repeat(340, minmax(5px, auto));
	grid-template-rows: repeat(2100, minmax(0, 4px));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#iron {
	display: grid;
	grid-template-columns: repeat(340, minmax(5px, auto));
	grid-template-rows: repeat(400, minmax(0, 4px));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#ancient {
	display: grid;
	grid-template-columns: repeat(340, minmax(5px, auto));
	grid-template-rows: repeat(1400, minmax(0, 4px));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#medieval {
	display: grid;
	grid-template-columns: repeat(340, minmax(5px, auto));
	grid-template-rows: repeat(900, minmax(0, 4px));
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.timeline {
	grid-area: 1 / 1 / 4800 / 50;
	background-color: #fbf4e9;
}

.timeline1 {
	grid-area: 1 / 1 / 4800 / 19;
	background-color: #f8e9d3;
}

.year {
	display: block;
	position: relative;
	top: -20px;
	text-align: right;
	z-index: 1;
	width: 93px;
	height: 19px;
}

hr {
	position: relative;
	top: -21px;
	margin: 0px;
	border: 2px solid black;
	z-index: 1;
}

.hr0 {width: 260px;}
.hr1 {width: 1700px}
.hr2 {width: 330px;}
.hr3 {width: 580px;}

/*MARCAS*/
	/*SÉCULOS*/
		/*STONE*/
			.m10000bc {grid-area: 2 / 1 / 2 / 340;}
			.m9500bc {grid-area: 3 / 1 / 3 / 340;}
			.m9000bc {grid-area: 4 / 1 / 4 / 340;}
			.m8500bc {grid-area: 5 / 1 / 5 / 340;}
			.m8000bc {grid-area: 6 / 1 / 6 / 340;}
			.m7500bc {grid-area: 7 / 1 / 7 / 340;}
			.m7000bc {grid-area: 8 / 1 / 8 / 340;}
			.m6500bc {grid-area: 9 / 1 / 9 / 340;}
			.m6000bc {grid-area: 10 / 1 / 10 / 340;}
			.m5500bc {grid-area: 11 / 1 / 11 / 340;}
			.m5000bc {grid-area: 12 / 1 / 12 / 340;}
			.m4500bc {grid-area: 13 / 1 / 13 / 340;}
			.m4000bc {grid-area: 14 / 1 / 14 / 340;}
			.m3500bc {grid-area: 15 / 1 / 15 / 340;}
		/*BRONZE*/
			.m3300bc {grid-area: 0001 / 1 / 0001 / 340;}
			.m3200bc {grid-area: 0101 / 1 / 0101 / 340;}
			.m3100bc {grid-area: 0201 / 1 / 0201 / 340;}
			.m3000bc {grid-area: 0301 / 1 / 0301 / 340;}
			.m2900bc {grid-area: 0401 / 1 / 0401 / 340;}
			.m2800bc {grid-area: 0501 / 1 / 0501 / 340;}
			.m2700bc {grid-area: 0601 / 1 / 0601 / 340;}
			.m2600bc {grid-area: 0701 / 1 / 0701 / 340;}
			.m2500bc {grid-area: 0801 / 1 / 0801 / 340;}
			.m2400bc {grid-area: 0901 / 1 / 0901 / 340;}
			.m2300bc {grid-area: 1001 / 1 / 1001 / 340;}
			.m2200bc {grid-area: 1101 / 1 / 1101 / 340;}
			.m2100bc {grid-area: 1201 / 1 / 1201 / 340;}
			.m2000bc {grid-area: 1301 / 1 / 1301 / 340;}
			.m1900bc {grid-area: 1401 / 1 / 1401 / 340;}
			.m1800bc {grid-area: 1501 / 1 / 1501 / 340;}
			.m1700bc {grid-area: 1601 / 1 / 1601 / 340;}
			.m1600bc {grid-area: 1701 / 1 / 1701 / 340;}
			.m1500bc {grid-area: 1801 / 1 / 1801 / 340;}
			.m1400bc {grid-area: 1901 / 1 / 1901 / 340;}
			.m1300bc {grid-area: 2001 / 1 / 2001 / 340;}
		/*IRON*/
			.m1200bc {grid-area: 0001 / 1 / 0001 / 340;}
			.m1100bc {grid-area: 0101 / 1 / 0101 / 340;}
			.m1000bc {grid-area: 0201 / 1 / 0201 / 340;}
			.m0900bc {grid-area: 0301 / 1 / 0301 / 340;}
		/*ANCIENT*/
			.m0800bc {grid-area: 0001 / 1 / 0001 / 340;}
			.m0700bc {grid-area: 0101 / 1 / 0101 / 340;}
			.m0600bc {grid-area: 0201 / 1 / 0201 / 340;}
			.m0500bc {grid-area: 0301 / 1 / 0301 / 340;}
			.m0400bc {grid-area: 0401 / 1 / 0401 / 340;}
			.m0300bc {grid-area: 0501 / 1 / 0501 / 340;}
			.m0200bc {grid-area: 0601 / 1 / 0601 / 340;}
			.m0100bc {grid-area: 0701 / 1 / 0701 / 340;}
			.m0001ad {grid-area: 0801 / 1 / 0801 / 340;}
			.m0100ad {grid-area: 0901 / 1 / 0901 / 340;}
			.m0200ad {grid-area: 1001 / 1 / 1001 / 340;}
			.m0300ad {grid-area: 1101 / 1 / 1101 / 340;}
			.m0400ad {grid-area: 1201 / 1 / 1201 / 340;}
			.m0500ad {grid-area: 1301 / 1 / 1301 / 340;}
			.m0600ad {grid-area: 1401 / 1 / 1401 / 340;}
	/*ANOS*/
			.m3150bc {grid-area: 151 / 1 / 151 / 340;}
			.m753bc {grid-area: 48 / 1 / 48 / 340;}
			.m720bc {grid-area: 81 / 1 / 81 / 340;}
			.m550bc {grid-area: 251 / 1 / 251 / 340;}
			.m516bc {grid-area: 285 / 1 / 285 / 340;}
			.m509bc {grid-area: 292 / 1 / 292 / 340;}
			.m330bc {grid-area: 471 / 1 / 471 / 340;}
			.m30bc {grid-area: 771 / 1 / 771 / 340;}
			.m70ad {grid-area: 871 / 1 / 871 / 340;}
			.m610ad {grid-area: 011 / 1 / 011 / 340;}

/*-_-_-_-_-_-_-_-_-_-_*/

.overlay {cursor: url(img/cursors/PointerTip.png),auto;}
.overlay2 {cursor:url(img/cursors/PointerTip.png),auto; filter: brightness(75%) saturate(150%);}
.overlay:hover {filter: brightness(100%); z-index:2}
.overlay2:hover {filter: brightness(90%) saturate(150%); z-index:2}

.oEgypt {grid-column: 20 / 24; background-color: #ffcd39; box-shadow:inset 0px 0px 0px 2px #ac7400;}
.oEgypt:hover {box-shadow:inset 0px 0px 0px 2px #ffcd39; outline: 2px solid #ffe69c;}
.oEgyptS0 {grid-row: 0001 / 0016;}
:has(.oEgyptB0:hover) .oEgyptS0:not(:hover),:has(.oEgyptS0:hover) .oEgyptB0:not(:hover) {box-shadow:inset 0px 0px 0px 2px #ffcd39; outline: 2px solid #ffe69c; filter: brightness(100%); z-index:2}
.oEgyptB0 {grid-row: 0001 / 0151;}
.oEgyptB1 {grid-row: 0151 / 0601;}
.oEgyptB2 {grid-row: 0601 / 1101;}
.oEgyptB3 {grid-row: 1101 / 1201;}
.oEgyptB4 {grid-row: 1201 / 1601;}
.oEgyptB5 {grid-row: 1601 / 1801;}
.oEgyptB6 {grid-row: 1801 / 2101;}
:has(.oEgyptB6:hover) .oEgyptI0:not(:hover),:has(.oEgyptI0:hover) .oEgyptB6:not(:hover) {box-shadow:inset 0px 0px 0px 2px #ffcd39; outline: 2px solid #ffe69c; filter: brightness(100%); z-index:2}
.oEgyptI0 {grid-row: 0001 / 0101;}
.oEgyptI1 {grid-row: 0101 / 0401;}
:has(.oEgyptI1:hover) .oEgyptA0:not(:hover),:has(.oEgyptA0:hover) .oEgyptI1:not(:hover)
{box-shadow:inset 0px 0px 0px 2px #ffcd39; outline: 2px solid #ffe69c; filter: brightness(90%) saturate(150%); z-index:2}
.oEgyptA0 {grid-row: 0001 / 0137;}
.oEgyptA1 {grid-row: 0137 / 0276;}
.oEgyptA2 {grid-row: 0276 / 0471;}
.oEgyptA3 {grid-row: 0471 / 0501;}
.oEgyptA4 {grid-row: 0501 / 0771;}
.oEgyptA5 {grid-row: 0771 / 1411;}

.oEgyptM0 {grid-row: 0001 / 0042;}
.oEgyptM1 {grid-row: 0042 / 0062;}
.oEgyptM2 {grid-row: 0062 / 0151;}
.oEgyptM3 {grid-row: 0151 / 0372;}
.oEgyptM4 {grid-row: 0372 / 0572;}

.oMeso {grid-column: 24 / 28; background-color: #fd9843; box-shadow:inset 0px 0px 0px 2px #ca6510;}
.oMeso:hover {box-shadow:inset 0px 0px 0px 2px #fd9843; outline: 2px solid #fecba1;}
.oMesoS0 {grid-row: 0011 / 0014;}
.oMesoS1 {grid-row: 0014 / 0016;}
:has(.oMesoB0:hover) .oMesoS1:not(:hover),:has(.oMesoS1:hover) .oMesoB0:not(:hover) {box-shadow:inset 0px 0px 0px 2px #fd9843; outline: 2px solid #fecba1; filter: brightness(90%) saturate(150%); z-index:2}
.oMesoB0 {grid-row: 0001 / 0401;}
.oMesoB1 {grid-row: 0401 / 1001;}
.oMesoB2 {grid-row: 1001 / 1201;}
.oMesoB3 {grid-row: 1201 / 1401;}
.oMesoB4 {grid-row: 1401 / 1706;}
.oMesoB5 {grid-row: 1706 / 2101;}
:has(.oMesoB5:hover) .oMesoI0:not(:hover),:has(.oMesoI0:hover) .oMesoB5:not(:hover) {box-shadow:inset 0px 0px 0px 2px #fd9843; outline: 2px solid #fecba1; filter: brightness(100%); z-index:2}
.oMesoI0 {grid-row: 0001 / 0046;}
.oMesoI1 {grid-row: 0046 / 0313;}
.oMesoI2 {grid-row: 0313 / 0401;}
:has(.oMesoI2:hover) .oMesoA0:not(:hover),:has(.oMesoA0:hover) .oMesoI2:not(:hover) {box-shadow:inset 0px 0px 0px 2px #fd9843; outline: 2px solid #fecba1; filter: brightness(100%); z-index:2}
.oMesoA0 {grid-row: 0001 / 0192;}
.oMesoA1 {grid-row: 0192 / 0262;}
.oMesoA2 {grid-row: 0262 / 0471;}
.oMesoA3 {grid-row: 0471 / 0501;}
.oMesoA4 {grid-row: 0501 / 0661;}
.oMesoA5 {grid-row: 0661 / 1025;}
.oMesoA6 {grid-row: 1025 / 1411;}

.oLevant {grid-column: 28 / 32; background-color: #3d8bfd; box-shadow:inset 0px 0px 0px 2px #0a58ca;}
.oLevant:hover {box-shadow:inset 0px 0px 0px 2px #3d8bfd; outline: 2px solid #9ec5fe;}
.oLevantS0 {grid-row: 001 / 012;}
.oLevantS1 {grid-row: 012 / 016;}
.oLevantB0 {grid-row: 0001 / 1201;}
.oLevantB1 {grid-row: 1201 / 1801;}
.oLevantB2 {grid-row: 1801 / 2101;}
.oLevantI0 {grid-row: 001 / 401;}
.oLevantA0 {grid-row: 001 / 081;}
.oLevantA1 {grid-row: 081 / 201;}
.oLevantA2 {grid-row: 201 / 285;}
.oLevantA3 {grid-row: 285 / 661;}
.oLevantA4 {grid-row: 661 / 764;}
.oLevantA5 {grid-row: 764 / 807;}
.oLevantA6 {grid-row: 807 / 1196;}
.oLevantA7 {grid-row: 1196 / 1411;}

.oIran {grid-column: 32 / 36; background-color: #479f76; box-shadow:inset 0px 0px 0px 2px #146c43;}
.oIran:hover {box-shadow:inset 0px 0px 0px 2px #479f76; outline: 2px solid #a3cfbb;}
.oIranS0 {grid-row: 0012 / 0016;}
.oIranB0 {grid-row: 0001 / 0601;}
.oIranB1 {grid-row: 0601 / 1801;}
.oIranB2 {grid-row: 1801 / 2101;}
:has(.oIranB2:hover) .oIranI0:not(:hover),:has(.oIranI0:hover) .oIranB2:not(:hover),:has(.oIranI0:hover) .oIranA0:not(:hover),:has(.oIranA0:hover) .oIranI0:not(:hover)
{box-shadow:inset 0px 0px 0px 2px #479f76; outline: 2px solid #a3cfbb; filter: brightness(90%) saturate(150%); z-index:2}
.oIranI0 {grid-row: 0001 / 0401;}
.oIranA0 {grid-row: 0001 / 0121;}
.oIranA1 {grid-row: 0121 / 0251;}
.oIranA2 {grid-row: 0251 / 0471;}
.oIranA3 {grid-row: 0471 / 0501;}
.oIranA4 {grid-row: 0501 / 0554;}
.oIranA5 {grid-row: 0554 / 1025;}
.oIranA6 {grid-row: 1025 / 1411;}

.oGreece {grid-column: 36 / 40; background-color: #8c68cd; box-shadow:inset 0px 0px 0px 2px #59359a;}
.oGreece:hover {box-shadow:inset 0px 0px 0px 2px #8c68cd; outline: 2px solid #c5b3e6;}
.oGreeceB0 {grid-row: 0001 / 1201;}
.oGreeceB1 {grid-row: 1201 / 1801;}
.oGreeceB2 {grid-row: 1801 / 2101;}
.oGreeceI0 {grid-row: 0001 / 0401;}
.oGreeceA0 {grid-row: 0001 / 0301;}
.oGreeceA1 {grid-row: 0301 / 0471;}
.oGreeceA2 {grid-row: 0471 / 0501;}
.oGreeceA3 {grid-row: 0501 / 0771;}
.oGreeceA4 {grid-row: 0771 / 1196;}
.oGreeceA5 {grid-row: 1196 / 1411;}

.oRome {grid-column: 40 / 44; background-color: #e35d6a; box-shadow:inset 0px 0px 0px 2px #b02a37;}
.oRome:hover {box-shadow:inset 0px 0px 0px 2px #e35d6a; outline: 2px solid #f1aeb5;}
.oRomeA0 {grid-row: 0048 / 0292;}
.oRomeA1 {grid-row: 0292 / 0771;}
.oRomeA2 {grid-row: 0771 / 1196;}
.oRomeA3 {grid-row: 1196 / 1277;}
.oRomeA4 {grid-row: 1277 / 1294;}
.oRomeA5 {grid-row: 1294 / 1353;}
.oRomeA6 {grid-row: 1353 / 1411;}

/* CIVILIZAÇÕES */
.test {background-color: #fdf9f3; box-shadow:inset 0px 0px 0px 2px #960018;}

.egypt {border-color: #ffcd39;}
.meso {border-color: #fd9843;}
.levant {border-color: #3d8bfd;}
.iran {border-color: #479f76;}
.greece {border-color: #8c68cd;}
.rome {border-color: #e35d6a;}

/*TOOLTIPS*/

.sidetip {
  display: none;
  height: auto;
  width: 140px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 8px;
  border: 2px solid white;
  font-size: 14px;
}

.sidetip > h2, .sidetip1 > h2, .sidetip2 > h2 {margin: auto; margin-top: 10px; padding: 0 2px; font-size: 20px;}
.sidetip > p, .sidetip1 > p, .sidetip2 > p {margin: auto; padding: 0 2px;}
.sidetip > span, .sidetip1 > span, .sidetip2 > span {font-size:12px; }

.sidetip1, .sidetip2 {
  display: block;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid white;
}

:has(.sidetip1) .sidetip {border: 0px solid white;}